{% extends 'ui/library.html' %}

{% load static %}

{% block content %}
  <div class="row release">
    <div class="col-xs-11 col-md-5 col-lg-4">
      <div class="row text-center">
        {% if release.image %}
          <img src="/m/{{ release.image }}" class="image">
        {% elif release.release_group.image %}
          <img src="/m/{{ release.release_group.image }}" class="image">
        {% else %}
          <img src="#" class="image">
        {% endif %}
      </div>
      {{ release.description|safe }}
    </div>
    <div class="hidden-xs col-sm-1"></div>
    <div class="col-xs-12 col-md-6 col-lg-7">
      {% for track in release.track_set.all %}
        <div class="row track {% cycle 'odd' '' %}">
          <div class="col-xs-1">
            {{ track.number }}
          </div>
          <div class="col-xs-9">
            {{ track.name }}
          </div>
          <div class="col-xs-2">
            {{ track.human_length }}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}